:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    p-button {
      margin-top: 24px;
    }

  }
}
