:host {
  padding: 48px;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .p-dropdown {
      width: 14rem;
      font-weight: normal;
    }
    .delivery-address,
    .cargo-count,
    .product-description {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: left;
    }
    .product-description{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .buttons{
      margin: 1rem 0 1rem 0;
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;
      button{
        margin-left: 8px;
      }
    }


    .product-category-icon {
      vertical-align: middle;
      margin-right: .5rem;
    }

    .product-category {
      font-weight: 600;
      vertical-align: middle;
    }

    .product-list-item {
      display: block;
      align-items: center;

      padding: 1rem;
      width: 100%;

      .product-list-detail {
        align-items: flex-start;
      }

      .p-button {
        margin-bottom: .5rem;
      }
    }

    .product-grid-item {
      margin: .5em;
      border: 1px solid #dee2e6;

      .product-grid-item-top,
      .product-grid-item-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      img {
        width: 75%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin: 2rem 0;
      }

      .product-grid-item-content {
        text-align: center;
      }

      .product-price {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }

  .card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
  }


  .product-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status {
      &-ACCEPTED {
        background: #C8E6C9;
        color: #256029;
      }
      &-PENDING {
        background: #FEEDAF;
        color: #8a5340;
      }
      &-REJECTED {
        background: #FFCDD2;
        color: #c63737;
      }

      &-CANCELED {
        background: #FFCDD2;
        color: #c63737;
      }
    }
  }

}
