
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple icon="pi pi-lock" class="p-button-warm" (click)="blockSelectedCustomers()" [disabled]="!selectedCustomers || !selectedCustomers.length"></button>
    </ng-template>
    <ng-template pTemplate="right">
    </ng-template>
  </p-toolbar>


  <p-table #dt [value]="customers.content" [rows]="customers.size" [paginator]="true" [loading]="isLoading" (onLazyLoad)="onLazyLoad($event)"
           [globalFilterFields]="['firstname','lastname','user.email']" responsiveLayout="scroll" [totalRecords]="customers.totalElements"
           [(selection)]="selectedCustomers" [rowHover]="true" dataKey="id" [lazy]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Products</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="firstname">First name <p-sortIcon field="firstname"></p-sortIcon></th>
        <th pSortableColumn="lastname">lastname <p-sortIcon field="lastname"></p-sortIcon></th>
        <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
        <th>Active</th>
        <th>Action</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </td>
        <td>{{customer.id}}</td>
        <td>{{customer.firstname}}</td>
        <td>{{customer.lastname}}</td>
        <td>{{customer.user.email}}</td>
        <td>{{customer.user.active}}</td>
        <td>
          <button pButton pRipple icon="pi pi-lock-open" class="p-button-rounded p-button-success" *ngIf="!customer.user.active" (click)="unbanCustomer(customer)"></button>
          <button pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-primary" *ngIf="customer.user.active" (click)="banCustomer(customer)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{customers.content ? customers.content.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

