<script src="../../../../api/models/Delivery.ts"></script>
<div class="card">
  <p-dataView #dv [value]="deliveries" [paginator]="true" [rows]="9" filterBy="id" layout="grid">
    <ng-template let-delivery pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <span [class]="'product-badge status-' + delivery.state">{{delivery.state}}</span>
          </div>
          <div class="product-grid-item-content">
            <div class="product-description"><b>description: </b>{{delivery.description}}</div>
            <div class="delivery-address"><b>Destination
              address: </b>{{delivery.destinationAddress.country + ' ' + delivery.destinationAddress.city + ' ' + delivery.destinationAddress.street}}
            </div>
            <div class="delivery-address"><b>Departure
              address: </b>{{delivery.departureAddress.country + ' ' + delivery.departureAddress.city + ' ' + delivery.destinationAddress.street}}
            </div>
            <div class="cargo-count"><b>Cargo count: </b>{{delivery.cargoes.length}}</div>
            <div class="cargo-count"><b>Departure date: </b>{{delivery.departureDate| date:'MMM d, y'}}</div>
          </div>
          <div class="buttons">
            <ng-container *ngIf="this.isCustomer">
              <button pButton pRipple type="button" icon="fa-solid fa-info" class="p-button-rounded"
                      [routerLink]="['/offers',delivery.id]"></button>
              <button pButton pRipple type="button" icon="fa-solid fa-pen" class="p-button-rounded"
                      [disabled]="delivery.state==ACCEPTED"
                      [routerLink]="['/delivery/item',delivery.id]"></button>
              <button pButton pRipple type="button" icon="fa-solid fa-trash" class="p-button-rounded p-button-danger"
                      (click)="cancel(delivery)"></button>
            </ng-container>
            <ng-container *ngIf="!this.isCustomer">
              <button pButton pRipple type="button" icon="fa-solid fa-info" class="p-button-rounded"
                      [routerLink]="['/delivery/item',delivery.id]"></button>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
