<script src="../../../../api/models/Delivery.ts"></script>
<div class="card">
  <p-dataView #dv [value]="deliveries" [paginator]="true" [rows]="9" filterBy="state"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By id" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
        <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by state" (input)="dv.filter($any($event.target).value)">
                </span>
      </div>
    </ng-template>
    <ng-template let-delivery pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <span [class]="'product-badge status-' + delivery.state">{{delivery.state}}</span>
          </div>
          <div class="product-grid-item-content">
            <div class="product-description"><b>description: </b>{{delivery.description}}</div>
            <div class="delivery-address"><b>Destination address: </b>{{delivery.destinationAddress.country + ' ' +delivery.destinationAddress.city + ' ' +delivery.destinationAddress.street}}</div>
            <div class="delivery-address"><b>Departure address: </b>{{delivery.departureAddress.country + ' ' +delivery.departureAddress.city + ' ' +delivery.destinationAddress.street}}</div>
            <div class="cargo-count"><b>Cargo count: </b>{{delivery.cargoes.length}}</div>
            <div class="cargo-count"><b>Departure date: </b>{{delivery.departureDate| date:'MMM d, y'}}</div>
          </div>
          <div class="buttons">
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="edit(delivery)"></button>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="cancel(delivery)"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
