:host {
  height: 70px;
  width: 100%;
  padding: 0 15%;
  background-color: #607D8B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header-right{

  }
}

