
<div class="header-left">
  <button pButton pRipple type="button" label="home" style="font-weight: 700;font-size: 15px"></button>
  <button pButton pRipple type="button" label="deliveries" style="font-weight: 700;font-size: 15px"></button>
  <button pButton pRipple type="button" label="add delivery" style="font-weight: 700;font-size: 15px"></button>
  <button pButton pRipple type="button" label="profile" style="font-weight: 700;font-size: 15px"></button>
  <button pButton pRipple type="button" label="admin panel" style="font-weight: 700;font-size: 15px" routerLink="/admin"></button>
</div>

<div class="header-right">
  <button pButton pRipple type="button" label="Log in" style="font-weight: 700;font-size: 20px" routerLink="/login"></button>
</div>
