
<div class="header-left">

<!--  <a routerLink="/" routerLinkActive="active">Home</a>-->
  <a routerLink="/" routerLinkActive="active">Deliveries</a>
  <a *ngIf="!IsAdmin && !IsTransporter" routerLink="/deliveries/item" routerLinkActive="active">Add delivery</a>
  <a *ngIf="IsTransporter" routerLink="/orders" routerLinkActive="active">Orders</a>
  <a routerLink="/profile" routerLinkActive="active">Profile</a>
  <a *ngIf="IsAdmin" routerLink="/admin">Admin panel</a>
</div>

<div class="header-right">
  <button *ngIf="(securityService.isAuthenticated$ | async) ===false" pButton pRipple type="button" label="Log in" style="font-weight: 700;font-size: 20px" routerLink="/login"></button>
  <button *ngIf="securityService.isAuthenticated$ | async" pButton pRipple type="button" label="Log out" style="font-weight: 700;font-size: 20px" (click)="logout()"></button>
</div>
